<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PARSMVVMCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PARSMVVMToolkit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PARSSimpleIOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2555E6341D2BA185001850CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2555E63E1D2BA185001850CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995A291D34C50B00077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995A3C1D34C50B00077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995AA11D35E8EF00077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995AAA1D35E8EF00077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995AD91D35E9A800077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25995AE21D35E9A800077BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
